<!DOCTYPE html>
<html lang="nl">

<body>
    <h2>{{title}}</h2>
    <p>
    Bedankt voor je bijdrage! Deze eenmalige e-mail is bedoeld om de kwaliteit van de data te waarborgen. <br>
    Jouw e-mailadres wordt op geen enkele wijze gekoppeld aan activiteiten op de website en zal niet worden opgeslagen.
    </p>

    <h3>Stem Details:</h3>
    <ul>
        <li><strong>Type Stem:</strong> {{voteTypeText}}</li>
        <li><strong>Locatie Adres:</strong> {{location.address}}</li>
    </ul>

    <p>
    <a href="{{verificationUrl}}" 
        style="color: #CC0000; text-decoration: underline;">
        Klik hier om je stem te verifiëren
    </a>
    </p>
    <p>Door op de link te klikken bevestig je dat je de gegevens eerlijk en naar waarheid hebt ingevuld.</p>
</body>
</html> 