// All paddings
.p-1-0 {
  padding: 1rem;
}

//Padding top
.pt-1-0 {
  padding-top: 1rem;
}

//Padding top and bottom
.ptb-0-5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.ptb-1-0 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

//Padding left and right
.plr-1-0 {
  padding-left: 1rem;
  padding-right: 1rem;
}
