// All margins
.m-1-0 {
  margin: 1rem;
}

//margin top
.mt-1-0 {
  margin-top: 1rem;
}

//margin top and bottom
.mtb-0-5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mtb-1-0 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

//margin left and right
.mlr-1-0 {
  margin-left: 1rem;
  margin-right: 1rem;
}
