@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica-neue-black-condensed.woff2') format('woff2'),
       url('../fonts/helvetica-neue-black-condensed.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-stretch: condensed;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue Black Condensed');
  font-weight: 900;
  font-style: normal;
  font-stretch: condensed;
  font-display: swap;
} 

body {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
button {
  font-family: "Helvetica Neue";
  margin: 0;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  width: fit-content;
}

label {
  font-size: 1rem;
}

.text-xs {
  font-size: 0.625rem;
}
.text-s {
  font-size: 0.75rem;
}
.text-sm {
  font-size: 0.875rem;
}
.text-m {
  font-size: 1rem;
}
.text-ml {
  font-size: 1.125rem;
}
.text-l {
  font-size: 1.25rem;
}
.text-xl {
  font-size: 1.5rem;
}

.italic {
  font-style: italic;
}
