body {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Garamond";
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: $white;
}
